/* .hamburger-menu {
    position: relative;
  }
  
  .hamburger-icon {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }
  
  .hamburger-icon.open {
    color: #ff6347;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    position: absolute;
    top: 40px;
    left: 0;
    width: 200px;
    border-radius: 5px;
  }
  
  .menu li {
    border-bottom: 1px solid #444;
  }
  
  .menu li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .menu li a:hover {
    background-color: #555;
  }
  
  .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #444;
    position: relative;
    left: 20px;
  }
  
  .submenu li a {
    padding: 10px;
    background-color: #444;
  }
  
  .submenu li a:hover {
    background-color: #666;
  }
   */